a{
	text-decoration: none;
}

.titulomodal{
	font-family: Microsoft PhagsPa;
	color: black; 
}

.butaomodal{
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	width: 49%;
	padding: 3%;
	background: #008080;
	border-bottom: 2px solid #008080;
	border-top-style: none;
	border-right-style: none;
	border-left-style: none;	
	color: white;
	cursor: pointer;
}

.butaomodal:hover{
	background: #004747;
}
.modal{
	background: white;
}

.modal-solicita{
	background-color: #9caeb5;
}